<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <connectionStrings>
    <add name="GameConsole.Properties.Settings.PSAkkaConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PSAkka.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
akka {
  actor {
    serializers {
      wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
    }
    serialization-bindings {
      "System.Object" = wire
    }
  }
  
  persistence {
    journal {
		  plugin = "akka.persistence.journal.sqlite"
		  sqlite {
		
			  # qualified type name of the SQLite persistence journal actor
			  class = "Akka.Persistence.Sqlite.Journal.SqliteJournal, Akka.Persistence.Sqlite"

			  # dispatcher used to drive journal actor
			  plugin-dispatcher = "akka.actor.default-dispatcher"

			  # connection string used for database access
			  connection-string = "Data Source=psakka.db;Version=3;"
			
			  # connection string name for .config file used when no connection string has been provided
			  connection-string-name = ""

			  # default SQLite commands timeout
			  connection-timeout = 30s

			  # SQLite table corresponding with persistent journal
			  table-name = event_journal
			
			  # metadata table
			  metadata-table-name = journal_metadata

			  # should corresponding journal table be initialized automatically
			  auto-initialize = on

			  # timestamp provider used for generation of journal entries timestamps
			  timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"

		  }
    }
  }
}
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>